.container {
  margin-top: 30px;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 20px;
}
.title {
  margin-bottom: 5px;
  display: block;
  width: 100%;
}

.input {
  width: 100%;
  margin: 5px;
}

.saveButton {
  width: 100%; 
  margin-bottom: 15px;
}

.finishedTodo {
  margin-top: 30px;
}

.deleteButton {
  margin-left: 10px ;
}

.finishedTodoTitle {
  border: 1px solid gray;
  padding: 5px;
  margin-bottom: 10px;
  text-align: center;
}

